.plate
    position: absolute
    top: 50%
    left: 50%
    width: 80vh
    height: 80vh
    transform: translate(-50%, -50%)

.plate svg
    top: 0
    left: 0
    overflow: visible
    position: absolute
    // transform: translate(-50%, -50%)
    width: 100%

.unos
    position: absolute
    top: 10%
    left: 50%
    transform: translateX(-50%)

.dos
    position: absolute
    top: 50%
    left: 50%
    transform: translateX(-50%)
