label
    display: block

form
    margin: 10px auto

input
    width: 100%
    margin-left: auto
    margin-right: auto
    margin-bottom: 25px
    padding: 5px
    font-size: 14px
    border: 2px solid #0cb8ec
    transition: .2s
    color: #292929
    border-radius: 10px
    outline: none
