.pizza_input
    height: 12%
    display: flex
    flex-direction: column
    align-items: stretch
    @media (orientation: portrait)
        height: 12%

    &--uno
        margin-top: 22%
        @media (orientation: portrait)
            margin-top: 20%

    &--due
        margin-bottom: 20%
        @media (max-width: 1400px) and (orientation: landscape)
            margin-bottom: 22%
        @media (orientation: portrait)
            margin-bottom: 21%

    &__form
        flex-grow: 1
        display: flex
        flex-direction: column
        align-items: center

    &__input
        text-align: center
        flex-grow: 1
        width: 20%
        margin: 0.5vh 0
        padding: 4px
        transition: .3s
        font-size: 2.5vh
        font-weight: bold
        color: #707070
        border: 0.25vh solid #e3e0e0
        border-radius: 1vh
        outline: none
        @media (orientation: portrait)
            width: 22%
            border-radius: 4px
            font-size: 3.2vw
            padding: 1px
            margin: 0.4vw 0
            border-width: 1px
            font-weight: bold

        &:focus
            border-color: #54cc94
            border-radius: 5px
            @media (orientation: portrait)
                border-radius: 8px

        &--valid
            border-color: #63c2d1

        &--invalid
            border-color: #e05045

        &--uno
            &:nth-child(1)
                margin-left: 19%
                border-radius: 2vh 2vh 2vh 0
                @media (orientation: portrait)
                    border-radius: 2vw 2vw 2vw 0
                &:focus
                    border-radius: 0
            &:nth-child(2)
                margin-left: -5%
                border-radius: 2vh 0 2vh 0
                @media (orientation: portrait)
                    border-radius: 2vw 0 2vw 0
                &:focus
                    border-radius: 0
            &:nth-child(3)
                margin-left: -29%
                border-radius: 2vh 0 2vh 2vh
                @media (orientation: portrait)
                    border-radius: 2vw 0 2vw 2vw
                &:focus
                    border-radius: 0
        &--due
            &:nth-child(1)
                margin-left: -20%
                border-radius: 2vh 2vh 0 2vh
                @media (orientation: portrait)
                    border-radius: 2vw 2vw 0 2vw
                &:focus
                    border-radius: 0
            &:nth-child(2)
                margin-left: 4%
                border-radius: 0 2vh 0 2vh
                @media (orientation: portrait)
                    border-radius: 0 2vw 0 2vw
                &:focus
                    border-radius: 0
            &:nth-child(3)
                margin-left: 28%
                border-radius: 0 2vh 2vh 2vh
                @media (orientation: portrait)
                    border-radius: 0 2vw 2vw 2vw
                &:focus
                    border-radius: 0
