.animation_skip__button
    visibility: hidden
    position: absolute
    height: 10vh
    width: 10vh
    top: 2vh
    left: 2vh
    background-color: #fff
    color: #3dbacc
    font-size: 4vh
    border-radius: 50%
    border: 5px solid #fff
    outline: none
    cursor: pointer
    transition: color .2s, background-color .2s

    @media(orientation: portrait)
        height: 20vw
        width: 20vw
        top: 2vw
        left: 2vw

    &:hover
        background-color: #E7655C
        color: #fff
