.App
  position: relative
  width: 100vw
  height: 100vh
  overflow: hidden
  text-align: center

.result_wrapper
  position: absolute
  width: 80vh
  height: 80vh
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  overflow: visible
  @media (orientation: portrait)
    width: 80vw
    height: 80vw
  @media (orientation: landscape) and (max-width: 500px), (max-height: 450px)
    opacity: 0

.input_wrapper
  position: absolute
  width: 80vh
  height: 80vh
  top: 50%
  left: -80vh
  transform: translateY(-50%)
  @media (orientation: portrait), (max-width: 500px)
    width: 80vw
    height: 80vw
    top: -80vw
    left: 50%
    transform: translate(-50%, -50%)

.pizza
  z-index: 99
